@charset "utf-8";


header{
	color: black;
	background-color: transparent;
}

nav.center ul{
	text-align: center;
	background-color: black;
	box-shadow: 1px 3px pink;
	width: 100%;
    z-index: 3;
}

nav.center ul li{
	background-color: black;
	display: inline-block;
	padding: 10px;
}

nav.center ul li a{
	text-align: center;
	color: white;
	background-color: black;
	letter-spacing: 2px;
	font-family: carattere;
	font-weight: bold; 
}










h1{
  font-family: allura;	
}

h2{
	font-family: allura;
	color: black;
	font-size: 90px;
	letter-spacing: -3px;
	z-index: 0px;
	text-align: center;
}

.h3{
	text-align: center;
	font-size: 60px;
	font-family: "lucida handwriting", brush m7 script, cursive;
	color: black;
}




body{
	background-color: light grey;
	padding: 0;
	margin:0;
}

.intro{
	text-align: justify;
	display: flex-wrap;
}
.projects{
	text-align: center;
	color: black;
	font-size: 35px;
}

.projectlinks{
	display: flex;
	flex-wrap: wrap;
}

footer{
	text-align: center;
}



