@charset ""utf-8;

nav.center ul{
	text-align: center;
	background-color: antiquewhite;
	box-shadow: 1px 3px antiquewhite;
	width: 100%;
    z-index: 3;
}

nav.center ul li{
	background-color: antiquewhite;
	
	display: inline-block;
	padding: 10px;
}

nav.center ul li a{
	text-align: center;
	color: rgb(212, 175, 55);
	background-color: antiquewhite;
    font-family: "Lucida handwriting", "brush script m7", cursive;
}

