@charset "utf-8";

/*Made by: DeShane` Sims*/

.topvines, .vinestovisit{
  height: 300px;
  color: whitesmoke;
  opacity: 0.9;
  width: 100%;
  display: block;
}

.tvphoto{
	padding-left: 275px;
	padding-right: 50px;
}

.vtvphoto{
	padding-left: 400px;
	
}

h1{
    font-size: 70px;
    text-align: center;
    color: floralwhite;
    text-decoration: underline;
    text-decoration-color: beige;
}

h2{
    color:blanchedalmond;
    font-size: 40px;
    padding-bottom: 0px;
}

body{
    background-color: darkred;
    border-style: double;
    border-color: mistyrose;
	padding: 0;
	
}

footer{
	color: white;
	text-align: center;
	
}
a{
	color: whitesmoke;
	
}