@charset "utf-8";

/*
 title:desiress.css
by: DeShane` Sims

*/

body{
    margin: 0px;
    padding: 0px;
}

h1{
	font-family: "Lucida handwriting", "brush script m7", cursive;
	font-size: 35px;
	color: rgb(212, 175, 55);
    width: flex;
    position: absolute;
    border: 200px;
    padding: 2px;
    top: 80px;
}

h2{
	font-family: "lucida console", "monaco", monospace;
    position: absolute;
    border: 200px;
    font-size: 20px;
    padding: 10px;
    top: 130px;
}

nav.center ul{
	text-align: center;
	background-color: antiquewhite;
	box-shadow: 1px 3px antiquewhite;
	width: 100%;
    
}

nav.center ul li{
	background-color: antiquewhite;
	
	display: inline-block;
	padding: 10px;
}

nav.center ul li a{
	text-align: center;
	color: rgb(212, 175, 55);
	background-color: antiquewhite;
    font-family: "Lucida handwriting", "brush script m7", cursive;
}

div img{
    top: 50px;
    padding-left: 150px;
    padding-top: 100px;
    
}

a:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
	font-family: "Lucida handwriting", "brush script m7", cursive;
}

a:visited {
  color: rgb(222,170,5);
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: black;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: rgb(255,255,255);
  background-color: rgb(212, 175, 55);
  text-decoration: underline;
}

body{
	background-color: #e9dbbd;
	color: rgb(212, 175, 55);
	font-family: "lucida console", "monaco", monospace;
}

footer {
	background-color: rgb(139, 146, 154);
	position: bottom;
	left: 0;
	bottom: 0;
	width: 100%;
	color: white;
	text-align: center;
	font-family: "Lucida handwriting", "brush script m7", cursive;
}